.layered_filter_ul .radio,
.layered_filter_ul .checkbox {
  display: inline-block;
}

.ets_speed_dynamic_hook .cart-products-count {
  display: none !important;
}

.ets_speed_dynamic_hook .ajax_cart_quantity,
.ets_speed_dynamic_hook .ajax_cart_product_txt,
.ets_speed_dynamic_hook .ajax_cart_product_txt_s {
  display: none !important;
}

.ets_speed_dynamic_hook .shopping_cart > a:first-child:after {
  display: none !important;
}
.məhsullar_drop::before{
  content: ' '!important;
 
}
.məhsullar_drop{
  cursor: pointer;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #000 !important;
  background-color: transparent;
  font-weight: 500;
}
.my_dropdown>li {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.my_dropdown_menu .sub-menu {
    left: 103.4%;
    position: absolute;
    top: 0;
    display: none;
    margin-top: -1px;
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: #fff;
    box-shadow: 1px  rgb(233, 230, 230);
}
.my_dropdown_menu .sub-menu li a{
  text-transform: capitalize;
}
.my_dropdown_menu .right-caret:after,
.my_dropdown_menu .left-caret:after {
    content: "";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin-left: 5px;
}

.my_dropdown_menu .right-caret:after {
    border-left: 5px solid #ff4646;
}

.my_dropdown_menu .left-caret:after {
    border-right: 5px solid #ff4646;
}

#header_block_social .social_i{
  font-size: 16px;
}
#footer_block_social .social_i a i{
  font-size: 18px;
}
.keçidler li a{
  text-transform: capitalize;
  font-size: 14px;
}
.footer_col3_i{
color: #e84f69;
font-size: 22px;
}
.footer_col3_align{
  display: flex;
  align-items: center !important;
}
.fal {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}
.about_main_cont{
  margin-block: 70px;
}
.about_accordion{
  margin-block: 70px;
  width: 65%;
  margin-inline: auto;
}
